{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "app1/blog.css" %}">

</head>
<body>
    <h1>hello this is blog page in the app1</h1>
    {% comment %} {% for name in names %}
    <h2>{{ name }}</h2>
    {% endfor %} {% endcomment %}


    {% for k, v in links.items %}
    <a href="{{ v }}">{{ k }}</a>
    {% endfor %}

</body>
</html>