{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "index.css" %}">
</head>
<body>
    <h1>Hello, this is home page</h1>
    <p>if you want to see all of pages in my site you should to type these addresses in searchbar </p>
    
    <p>
        1./app1/blog <br>
        2./app1/test <br>
        3./app2/profile <br>
        4./app2/support
    </p>

    <h3>soooooo, what do you want to see now?</h3>
</body>
</html>