<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>here is for first variable and filtering...</h1><br><br>
    <h2>variable is : "Delaram"</h2><br><br>

    <p>رشته را بعد از ان کاراکتر کوتاه می کند و سه نقطه میگذارد: <b>truncatechars:N</b></p>
    <h3>{{ name|truncatechars:5 }}</h3><br>


    بقیه رو حوصلم نمیکشه تک تک توضیح بدم ، از روی تغییرش دیگه خودتون بفهمید چی شده :)
    <br><br>

    <p>upper</p>
    <h3>{{ name|upper }}</h3><br>
    
    <p>title </p>
    <h3>{{ name|title }}</h3><br>
    
    <p>slice:“start:end”</p>
    <h3>{{ name|slice:"3:7" }}</h3><br>
    
    
</body>
</html>