<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>here is for 5th variable and filtering...</h1><br><br>
    <h2>variable is : 5</h2><br><br>

    <p>add:value</p>
    <h3>{{ number|add:4 }}</h3><br>

    <br><br>

    <p>filesizeformat</p>
    <h3>{{ number|filesizeformat }}</h3><br>
    <h3>{{ 45698746654|filesizeformat }}</h3><br>
    

</body>
</html>